# ======================
# NODE
# ======================

node_modules/
npm-debug.log

# ======================
# PYTHON
# ======================

venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# FIREBASE
# ======================

firebase-key.json
serviceAccountKey.json

# ======================
# OPENCV / IA
# ======================

*.pt
*.pth
*.h5
*.onnx
*.pickle

# ======================
# VS CODE
# ======================

.vscode/

# ======================
# SISTEMA
# ======================

.DS_Store
Thumbs.db

# ======================
# LOGS
# ======================

*.log

# ======================
# BUILD
# ======================

dist/
build/

# ======================
# CACHE
# ======================

.cache/
.pytest_cache/
.mypy_cache/

# ======================
# TESTES
# ======================

coverage/
htmlcov/