# ======================
# NODE
# ======================

node_modules/
npm-debug.log

# ======================
# PYTHON
# ======================

venv/
.env
__pycache__/
*.pyc

# ======================
# VS CODE
# ======================

.vscode/

# ======================
# SISTEMA
# ======================

.DS_Store
Thumbs.db

# ======================
# LOGS
# ======================

*.log

# ======================
# BUILD
# ======================

dist/
build/

# ======================
# CACHE
# ======================

.cache/


firebase-key.json