# Node
node_modules/

# Python
venv/
.venv/
.venv-*/
__pycache__/
*.py[cod]

# Variáveis de ambiente
.env

# Firebase
firebase-key.json
serviceAccountKey.json
json/firebase.json

# YOLO
runs/
camera/runs/
labels.cache

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Build
dist/
build/

# Sistema
.vscode/
.DS_Store
Thumbs.db
desktop.ini

# Dados de teste
camera/testes/imagens/
camera/testes/videos/
camera/datasets/
